<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>BemEstar+</h1>
        <nav>
            <ul>
                <li>nav1</li>
                <li>nav2</li>
                <li>nav3</li>
            </ul>
            <!-- user mediaquerie to adapt to smaller sized windows -->
        </nav>
    </header>
    <main>
        <a href="/start">Start with us NOW!</a>
    </main>
    <footer>
        basic information, such as how to contact me and the github link
    </footer>
    <script src="js/homepageScript.js"></script>
</body>
</html>