<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>BemEstar+</h1>
        <nav>
            <ul>
                <li>nav1</li>
                <li>nav2</li>
                <li>nav3</li>
            </ul>
            <!-- use mediaquerie to adapt to smaller sized windows -->
        </nav>
    </header>
    <main>
        <div id="information">
            <h2>Você é o seu bem estar!</h2>
            <div class="container">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores doloremque delectus nihil perspiciatis blanditiis dolore, voluptates deserunt nemo doloribus molestias, repellat quo possimus distinctio fugit, consectetur error odio. Quas, velit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, commodi. Nesciunt beatae doloribus quas, quia, modi nemo, quam vel ex error suscipit fugit! Magnam rem asperiores nam ab quaerat veritatis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus pariatur suscipit molestias sequi eaque soluta aliquam at mollitia ratione dolorum ducimus, architecto quaerat nobis quas vero totam hic nostrum fugiat!
                In tempora blanditiis mollitia dolores eligendi rem culpa ipsum itaque voluptas, nesciunt totam ratione quaerat nam illo quam numquam at necessitatibus inventore
            </p>
            <div class="buttonEffectContainer">
                <a href="/start">STARTING NOW</a>
            </div>
            </div>
        </div>
        <div id="transition">
        </div>
        <div id="moreInfo">

        </div>
        <a href="">Want to contact me?</a>
    </main>
    <footer>
        basic information, such as how to contact me and the github link
    </footer>
    <script src="js/homepageScript.js"></script>
</body>
</html>