<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/outside/register.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="inner">
                <div id="register">
                <h1>R e g i s t e r</h1>
                <form action="/auth/register" method="post">
                    <p id="serverFeedback" class="response"></p>
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="MyName">
        
                    <label for="password">Password</label>
                    <input type="password" placeholder="MyPassword123" name="password">
        
                    <label for="email">Email</label>
                    <input type="email" placeholder="MyEmail@gmail.com" name="email">                    
                    <label for="role">Tipo de Conta</label>
                    <select name="role" id="role">
                        <option value="" disabled>Tipo de conta</option>
                        <option value="client">Cliente</option>
                        <option value="professional">Profissional</option>
                    </select>
                    <div>
                        <button type="button" id="registerButton">Submit</button>
                        <p>/</p>
                        <button class="move" type="button">Have an account?</button>
                    </div>
                </form>
                <div id="complement">
                </div>
            </div>
            <div id="login">
                <h1>L o g i n</h1>
                <form action="/auth/login" method="post">
                    <p id="feedbackLogin" class="response"></p>
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="MyName">
        
                    <label for="password">Password</label>
                    <input type="password" placeholder="MyPassword123" name="password">
        
                    <label for="email">Email</label>
                    <input type="email" placeholder="MyEmail@gmail.com" name="email">
                    <div>
                        <button type="button" id="loginButton">Submit</button>
                        <p>/</p>
                        <button class="move" type="button">No account?</button>
                    </div>
                </form>
                <div id="complement">
                </div>
            </div>
        </div>
    </div>
    <script src="js/outside/registerScript.js"></script>
</body>
</html>