<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inside/main.css">
    <title>BemEstar+</title>
</head>
<body>
    <header>
        <div id="menu">
            <span></span><span></span><span></span>
        </div>
        <h1>Bem Estar</h1>
        <div id="loggout">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <aside id="sidebar">
            <!-- options:
            Exercise
            Config
            Diet-->
            Sidebar
        </aside>
    <main>
        main
        <div id="content">
            <div id="info">
                <div class="header">
                    <!-- options:
                     Graphics
                     History
                     Add new product -->
                </div>
                <div class="show">
                    <!-- show urgent products -->
                </div>
            </div>
        </div>
    </main>
    <footer>footer</footer>
    <script src="/js/inside/homepage.js"></script>
</body>
</html>