<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div id="sidebar">
            <!-- options:
            Exercise
            Config
            Diet-->
        </div>
        <div id="content">
            <div id="info">
                <div class="header">
                    <!-- options:
                     Graphics
                     History
                     Add new product -->
                </div>
                <div class="show">
                    <!-- show urgent products -->
                </div>
            </div>
        </div>
    </main>
</body>
</html>