<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inside/main.css">
    <title>BemEstar+</title>
</head>
<body>
    <header>
        <div id="menu">
            <div class="barMenu"></div>
            <div class="barMenu"></div>
            <div class="barMenu"></div>
        </div>
        <h1>Bem Estar</h1>
        <div id="loggout">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <aside id="sidebar">
            <ul>
               <li id="reunioes-selector" class="selector">Reuniões</li>
               <li id="clientes-selector" class="selector">Clientes</li>
               <li id="conversas-selector" class="selector">Conversas</li>
               <li class="selector" id="outro-selector">
                Outros
               </li>
            </ul>
        </aside>
    <main>
        <div id="reunioes-content" class="content">
            Meetings here
            <!-- when button is clicked -->
            <div id="meeting-post">
                <form action="">
                    <input type="text" name="">
                    <input type="text" name="">
                    <input type="text" name="">
                    <input type="text" name="">
                </form>
            </div>
            <!-- end -->
            <div id="add-meeting">
                +
            </div>
        </div>
        <div id="clientes-content" class="content">
            Clients Info Here
        </div>
        <div id="conversas-content" class="content">
            Chats
        </div>
        <div id="outros-content" class="content">
            Outros
        </div>
    </main>
    <footer>footer</footer>
    <script type="module" src="/js/homepage/utils.js"></script>
    <script type="module" src="/js/homepage/display.js"></script>
    <script type="module" src="/js/homepage/meetings.js"></script>
</body>
</html>