<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage/main.css">
    <link rel="stylesheet" href="/css/homepage/meetings.css">
    <link rel="stylesheet" href="/css/homepage/outros.css">
    <link rel="stylesheet" href="/css/homepage/clients.css">
    <title>BemEstar+</title>
</head>
<body>
    <header>
        <div id="menu">
            <div class="barMenu"></div>
            <div class="barMenu"></div>
            <div class="barMenu"></div>
        </div>
        <h1>Bem Estar</h1>
        <div id="loggout">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <aside id="sidebar">
            <ul>
               <li id="reunioes-selector" class="selector">Reuniões</li>
               <li id="clientes-selector" class="selector profOnly">Clientes</li>
               <li id="conversas-selector" class="selector demo">Conversas</li>
               <li class="selector" id="outro-selector">
                Outros
               </li>
            </ul>
        </aside>
    <main>
        <div id="reunioes-content" class="content">
            Meetings here
            <ul id="meetings">
                
            </ul>
            <!-- when button is clicked -->
            <div id="meeting-post">
                <form action="">
                    <label for="topic">Tópico</label>
                    <input type="text" name="topic">
                    <label for="date">Data</label>
                    <input type="date" name="date" required>
                    <!-- <div>Clientes</div> -->
                    <input type="text" name="">
                    <input type="text" name="">
                    <button type="button"></button>
                    <!-- use fetch -->
                </form>
            </div>
            <!-- end -->
            <div id="add-meeting" class="profOnly">
                +
            </div>
        </div>
        <div id="clientes-content" class="content profOnly">
            Clients Info Here
            <div>
                <ul id="clients">

                </ul>
            </div>
        </div>
        <div id="conversas-content" class="content" class="demo">
            Chats
        </div>
        <div id="outros-content" class="content">
            Outros
            <div id="join" class="profOnly">
                Associar:
                <form>
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name">
                    <label for="password">Senha do Usuário</label>
                    <input type="password" name="password" id="password">
                    <button type="button" id="joinUser">Salvar</button>
                </form>
            </div>
        </div>
    </main>
    <footer>footer</footer>
    <script type="module" src="/js/homepage/utils.js"></script>
    <script type="module" src="/js/homepage/display.js"></script>
    <script type="module" src="/js/homepage/meetings.js"></script>
    <script type="module" src="/js/homepage/clients.js"></script>
    <script type="module" src="/js/homepage/outros.js"></script>
</body>
</html>