<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inside/main.css">
    <title>BemEstar+</title>
</head>
<body>
    <header>
        <div id="menu">
            <div class="barMenu"></div>
            <div class="barMenu"></div>
            <div class="barMenu"></div>
        </div>
        <h1>Bem Estar</h1>
        <div id="loggout">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <aside id="sidebar">
            <ul>
               <li id="reunioes-selector">Reuniões</li>
               <li id="clientes-selector">Clientes</li>
               <li id="conversas-selector">Conversas</li> 
            </ul>
        </aside>
    <main>
        <div id="reunioes-content"></div>
        <div id="clientes-content"></div>
        <div id="conversas-content"></div>
    </main>
    <footer>footer</footer>
    <script src="/js/homepage/display.js"></script>
</body>
</html>