<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Informações Pessoais</h1>
    <p id="nome"></p>
    <div id="personalInformational">
        <p id="bodyfat"></p>
        <p id="goal"></p>
        <p id="height"></p>
        <p id="weight"></p>

        <div id="medical">
            
        </div>
    </div>
    <script type="module" src="/js/userInfo/userInfo.js"></script>
</body>
</html>