* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: green;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main" 
    "sidebar footer ";
    grid-template-rows: auto 1fr auto;
}
main {
    padding: 15px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    margin: 5px;
    background-color: white;
    grid-area: main;
    position: relative;
}
header {
    grid-area: header;
    padding: 10px;
    background-color: white;
    color: green;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 2em;
    align-items: center;
}
header h1 {
    margin-left: 30px;
}
header > #loggout {
    background-color: white;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    position: relative;
    margin-right: 2rem;
    transition: .3s;
}
header .bar{
    width: 0.35rem;
    height: 2rem;
    background-color: red;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
}
header .bar:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}
header .bar:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}
#loggout:hover {
    background-color: red;
}
#loggout:hover .bar {
    background-color: white;
}
header #menu {
    display: none;
    height: 2em;
    width: 2em;
    /* background-color: blue; */
}
aside {
    grid-area: sidebar;
    background-color: gray;
    position: sticky;
    top: 52px;
    align-self: start;
    height: calc(100vh - 52px);
}
#sidebar ul  li{
    padding: 15px;
    background-color: rgb(163, 162, 162);
    margin: 5px 0px;
    text-align: center;
}
#sidebar ul li:hover {
    background-color: rgb(187, 186, 186);
}

.content {
    display: none;
}
footer {
    grid-area: footer;
    padding: 10px;
    background-color: black;
    color: white;
}

.content.display {
    display: block;
}

#add-meeting {
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    border-radius: 12px;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

#add-meeting:hover {
    transform: translateY(-10px) scale(1.15);
}
#meeting-post {
    height: 500px;
    width: 500px;
    border-radius: 15px;
    background-color: brown;
    padding: 5px;
    position: fixed;
    top: -510px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s;
}
.appearScreen {
    transform: translateX(-50%);
    top: 20vh !important;
    z-index: 2;
}

@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    aside {
        position: fixed;
        top: 52px;
        left: 0;
        width: 250px;
        transform: translateX(-300px);
        transition: .4s;
    }
    #loggout {
        display: none;
    }
    header {
        justify-content: flex-start;
    }
    header #menu {
        /* display: block; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #menu .barMenu {
        width: 100%;
        height: 5px;
        background-color: gray;
        gap: 1.7px;
        border-radius: 15px;
    }
    #menu, .barMenu {
        transform: scale(0.85);
    }
    .show {
        transform: translateX(0);
    }
}